{
  "presets": ["@babel/preset-react", ["@babel/preset-env", { "targets": { "node": "10" } }]],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-object-rest-spread"
  ]
}
